* {
    box-sizing: border-box;

}

body {
    width: 99%;
    display: flex;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentBox {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.currentPlayer {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    width: 500px;
}

#startButton {
    border-radius: 10px;
    width: 200px;
    position: absolute;
    z-index: 2;
}

#playAgain {

    border-radius: 10px;
    width: 200px;
    position: relative;
}

.board {
    width: 360px;
    height: 360px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.cell {
    flex: 0 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cell:nth-child(3n+2) {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.cell:nth-child(n+4):nth-child(-n+6) {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}